<li [ngClass]="{'list-group-item': true,
                  'list-group-item-success': appareilStatut === 'allumé',
                  'list-group-item-danger': appareilStatut === 'éteint'
                  }">
      <div  style="width: 20px;height: 20px;background-color: red;"
        *ngIf="appareilStatut === 'éteint'">
      </div>
      <div  style="width: 20px;height: 20px;background-color: green;"
        *ngIf="appareilStatut === 'allumé'">
      </div>
      <h4 [ngStyle]="{'color': getColor()}">{{ appareilName }} -- Statut : {{ getStatus() }} </h4>
      <a [routerLink]="[id]">Détail</a>
      <input type="text" class="form-control" [(ngModel)]="appareilName">
      <button class="btn btn-success" [disabled]="appareilStatut === 'allumé'" (click)="onSwitchOn()">Allumer</button>
      <button class="btn btn-danger" [disabled]="appareilStatut === 'éteint'" (click)="onSwitchOff()">Eteindre</button>
</li>